/* Typeface Imports */
@font-face {
    font-family: "Graphik Bold";
    src: url("../fonts/Graphik-Bold-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Regular";
    src: url("../fonts/Graphik-Regular-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Light";
    src: url("../fonts/Graphik-Light-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Portrait Text";
    src: url("../fonts/PortraitText-Regular-Web.woff2") format("woff2");
}

:root {
    --wa-midnight: #0c223f;
    --wa-midnight-50: #0c223f88;
    --wa-white: #ffffff;
    --wa-white-50: #ffffff88;
    --wa-hot-freeze: #1bcfc9;
    --wa-hot-freeze-50: #1bcfc988;
    --wa-canary: #fdef5c;
    --wa-concrete: #eaebeb;
    --text-color: var(--wa-midnight);
    --bg-color: var(--wa-white);
    --main-margins: 32px;
    --serif: "Portrait Text", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --sans-serif-fallback: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --sans-serif-bold: "Graphik Bold", var(--sans-serif-fallback);
    --sans-serif-light: "Graphik Light", var(--sans-serif-fallback);
    --sans-serif: "Graphik Regular", var(--sans-serif-fallback);
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1024px;
    margin: auto;
    padding: 0 var(--main-margins);
    font-family: var(--sans-serif);
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 8px solid var(--wa-hot-freeze);
}

main {
    margin-top: 0;
}

footer {
    background: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    font-family: var(--sans-serif);
    font-size: 16px;
    margin-top: 0;
}

footer a {
    color: var(--wa-white);
    transition: all 0.4s;
}

footer a:hover,
footer a:focus {
    color: var(--wa-white-50);
}

h1, h2, h3, h4, h5 {
    line-height: 1;
}

h1 {
    font-family: var(--sans-serif-bold);
}

h2 {
    font-family: var(--sans-serif-light);
}

h3 {
    font-family: var(--sans-serif);
}

p {
    font-family: var(--serif);
    font-size: 1.3rem;
}

svg {
    fill: var(--text-color);
}

#logo svg{
    height: 38px;
    padding: 10px;
    position: absolute;
    overflow: visible;
}

#navigation-logo {
    opacity: 0;
}

.section {
    padding: 0 10px;
}

.section-heading {
    opacity: 0.5;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 60px 0 0;
}

/* responsive navigation */
.main-nav {
    background-color: #ffffff88;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: calc(100% - (var(--main-margins)*2));
    max-width: 1024px;
    z-index: 3;
    height: 58px;
}

header::after {
    content: '';
    display: block;
    aspect-ratio: 2 / 1;
}

.main-nav ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: transparent;
}

.main-nav li a {
display: block;
padding: 20px;
text-decoration: none;
color: var(--text-color);
border-bottom: solid 4px transparent;
box-sizing: border-box;
transition: background 0.4s, border-bottom-color 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus,
.main-nav .menu-btn:hover,
.main-nav .menu-btn:active,
.main-nav .menu-btn:focus {
background-color: #f4f4f4;
border-bottom: solid var(--wa-hot-freeze) 4px;
}

/* menu */

.main-nav .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

/* menu icon */

.main-nav .menu-icon {
cursor: pointer;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.main-nav .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.main-nav .menu-icon .navicon:before,
.main-nav .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.main-nav .menu-icon .navicon:before {
top: 5px;
}

.main-nav .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.main-nav .menu-btn {
display: none;
}

.main-nav .menu-btn:checked ~ .menu {
max-height: 100vh;
background-color: var(--wa-midnight);
}

.main-nav .menu-btn:checked ~ .menu li a {
    color: var(--wa-white);
}

.main-nav .menu-btn:checked ~ .menu li a:hover {
    color: var(--wa-midnight);
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

.main-nav aside {
    display: inline-block;
    padding-top:5px;
    padding-right: 5px;
    position: absolute;
    top: 58px;
    right: 0;
}

.main-nav aside ul {
    margin-top: 0;
    padding-top: 0;
}

.social-icons {
    list-style: none;
}

.social-icons li {
    display: block;
    background-color: var(--wa-midnight);
    clear: both;
    float: none;
}

.social-icons li a {
    padding: 16px!important;
    box-sizing: border-box;
}

.social-icons span {
    display: none;
}

.social-icons li a {
    color: var(--wa-white);
    transition: all 0.4s;
    border-bottom: none;
}

.social-icons li a:hover,
.social-icons li a:active,
.social-icons li a:focus {
    background-color: var(--wa-hot-freeze);
    color: var(--wa-midnight);
    border-bottom: none;
    box-sizing: border-box;
}

.headline {
    position: absolute;
    width: 80%;
    padding: 16px 16px 10px 10px;
    background: linear-gradient(90deg, transparent, var(--wa-midnight-50));
    z-index: 1;
    bottom: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
}
.headline h1,
.headline h2 {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.headline h2 {
    margin-top: 1.5rem;
}

.hero {
    margin: 0 0 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cta-txt {
    flex: 0 1 62.5%;
    padding-left: 10px;
}

.cta {
    flex: 0 1 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.cta-btns {
    margin: 0 6px;
    height: 42%;
}

.cta .btn {
    color: var(--wa-white);
    margin-top: 0;
    text-align: center;
    display: block;
    position: relative;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 16px 0;
    background-color: var(--wa-midnight);
    border: solid 4px;
    outline: solid 6px var(--wa-midnight);
}

.cta .btn:nth-child(n+3) {
    margin-top: 0;
}

.cta img {
    width: 100%;
    height: 58%;
    object-fit: cover;
}

.btn {
    color: var(--text-color);
    border: solid 4px;
    text-decoration: none;
    font-family: var(--sans-serif);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: .15rem;
    padding: .33rem;
    margin-top: .33rem;
    display: inline-block;
    transition: all 0.4s;
    cursor: pointer;
}

.btn:hover,
.bt n:active,
.btn:focus {
    color: var(--wa-hot-freeze);
    box-shadow: 0 2px var(--wa-midnight);
    transform: translateY(-2px);
}

/* Case Studies Cards */

#case-studies {
    background-color: var(--wa-hot-freeze);
}

#case-studies .section-heading {
    /* color: var(--wa-white); */
    opacity: 1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.cards article {
    flex: 0 1 100%;
    background-color: var(--wa-white);
    margin-bottom: 1rem;
    padding: 2%;
    transition: all 0.4s;
}

.cards article:hover,
.cards article:focus {
    transform: translateY(-3px);
    box-shadow: 0 9px 6px -6px var(--text-color);
    color: var(--wa-midnight-50);
}

.cards article a {
    text-decoration: none;
    color: inherit;
}

.cards article h3 {
    margin: 4px 0 0;
    font-family: var(--sans-serif-bold);
    font-size: 1.15rem;
}

.cards article img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.cards article h3::before {
    content: '';
    height: 8px;
    width: 50px;
    margin-bottom: 8px;
    display: block;
    background-color: var(--wa-hot-freeze);
}

/* ---------- PODCAST ---------- */

#podcast {
    display: grid;
    grid-template:
                "h h h" auto
                "i t t" 1fr
                "i t t" 1fr / 1fr 1fr 1fr;
    gap: 16px;
    padding: 0;
}

#podcast>.section-heading {
    grid-area: h;
}

#podcast>.badge {
    grid-area: i;
    background-color: var(--wa-hot-freeze);
    padding: 8px;
    box-sizing: content-box;
    overflow: hidden;
}

#podcast>.text>p {
    font-size: 18px;
}

#podcast>.text>.title {
    font-size: 22px;
    font-family: var(--sans-serif-light);
}

#podcast>.text>.title>strong {
    font-family: var(--sans-serif-bold);
}

#podcast>.text {
    grid-area: t;
    position: relative;
}

#podcast>.text,
#podcast>.badge {
    transition: all 0.4s;
}

#podcast img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#podcast-link {
    grid-area: 2 / 1 / 4 / 4;
    z-index: 1;
    transition: backdrop-filter 0.4s;
    position: relative;
}

/* #podcast-link:hover {
    backdrop-filter: sepia(1) saturate(1.5) hue-rotate(140deg);
    -webkit-backdrop-filter: sepia(1) saturate(1.5) hue-rotate(140deg);
    border-top: 10px solid var(--wa-hot-freeze);
} */

#podcast-link:hover ~ .badge,
#podcast-link:hover ~ .text {
    color: var(--wa-midnight-50);
    transform: translateY(-6px);
}

#podcast-link:hover ~ .text::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -16px;
    height: 100%;
    width: 8px;
    background-color: var(--wa-canary);
}

/* Form Styling */

#contact {
    background: var(--text-color);
    color: var(--bg-color);
    padding-bottom: 200px;
    display: grid;
    grid-template: 
                "h h h" auto
                "f f i" 1fr
                "f f l" auto / 1fr 1fr 1fr;
}

#contact>.section-heading {
    grid-area: h;
}

form input,
form textarea,
form .btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: solid 1px;
    color: var(--bg-color);
    position: relative;
}

label.required::after {
    content: '*';
    color: red;
    display: inline-block;
}

form label {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: var(--sans-serif-bold);
    margin: 1rem 0 .5rem;
    display: block;
}

#contact>form,
#contact>#thank-you {
    width: calc(100% - 1rem);
    margin: 50px 16px 0;
    grid-area: f;
    box-sizing: border-box;
}

#contact>form {
    padding-right: 16px;
    border-right: solid 8px var(--wa-hot-freeze);
}

#contact>form input,
#contact>form textarea {
    border: none;
    border-bottom: 2px solid;
    resize: none;
    background: #ffffff11;
    font-family: var(--sans-serif);
    font-size: 1.2rem;
    line-height: 1.5;
}

#contact>form .btn {
    border: 2px solid;
    font-family: var(--sans-serif-light);
    font-size: 1.2rem;
    letter-spacing: .5rem;
    margin-top: 1rem;
}

#thank-you {
    min-height: 500px;
    display: none;
    text-align: center;
}

#thank-you h3 {
    font-family: var(--sans-serif-bold);
    font-size: 2rem;
    line-height: 0;
    margin: 0;
}

#thank-you p {
    font-family: var(--sans-serif);
}

#work-phone {
    height: 0;
    opacity: 0;
}

#contact-info {
    padding-left: 16px;
    text-align: center;
}

#contact-info p {
}

#contact-info h3 {
    line-height: 0;
}

#contact-info a {
    color: inherit;
    transition: color 0.4s;
}

#contact-info a:hover {
    color: var(--wa-hot-freeze);
}

#contact-info hr {
    opacity: 0.3;
    margin-bottom: 32px;
}

#contact-info .social-icons {
    padding: 0;
    margin: 32px 0;
}

#contact-info .social-icons li {
    display: inline;
}

#contact-info .social-icons i {
    content: none;
}

#contact-info .social-icons li a {
    text-decoration: none;
}

#contact-info .social-icons li a:hover {
    background-color: inherit;
}



#contact-logo {
    fill: var(--wa-white);
    grid-area: l;
    padding: 0 3rem;
}

@media (max-width: 48em) and (min-width: 500px) {
    .cards article {
        flex: 0 1 47.25%;
        padding: 1%;
    }

    #podcast {
        grid-template:
                    "h h h" auto
                    "i t t" 1fr
                    ". t t" 1fr / 1fr 1fr 1fr;
    }
}

/* 48em = 768px */

@media (min-width: 48em) {
    .main-nav li {
        float: left;
    }
    .main-nav li a {
        padding: 15px 30px;
    }
    .main-nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .main-nav .menu-icon {
        display: none;
    }

    .cards article {
        flex: 0 1 30.5%;
        padding: 1%;
    }
    
    .headline {
        width: 65%;
    }
}

@media (max-width: 500px) {
    .headline {
        width: 85%;
        padding-right: 95px;
    }

    body {
        max-width: 100%;
        padding: 0;
    }

    .main-nav {
        width: 100%;
    }
    .cta,
    .cta-txt {
        flex: 0 1 100%;
    }

    .cta img {
        display: none;
    }

    .cta-btns {
        height: 100%;
        margin: 0 auto;
        width: 75%;
    }

    #podcast {
        grid-template:
                    "h h h" auto
                    "i i i" 1fr
                    "t t t" 1fr / 1fr 1fr 1fr;
        padding: 0 10px;
    }
}

@media (max-width: 48em) {

    #contact {
        grid-template: 
                "h" auto
                "f" 1fr
                "i" 1fr
                "l" auto;
        align-items: center;
    }

    #contact-logo {
        width: 75px;
        margin: auto;
    }

    #contact>form,
    #contact>#thank-you {
        border: none;
        padding: none;
    }
}