:root {
    --slide-time: 20s;
}

#slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.slide>img {
    position: absolute;
    object-fit: cover;
    height: 150%;
    top: 0;
    left: 0;
    z-index: -2;
    object-position: 50% 50%;
}

.slide::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, var(--wa-midnight-50), transparent 20% 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes slide1 {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
        transform: scale(1);
    }

    99% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes slide2 {
    24% {
        opacity: 0;
        transform: scale(1.2);
    }

    25% {
        opacity: 1;
        transform: scale(1.2);
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes slide3 {
    49% {
        opacity: 0;
        transform: scale(1.2);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes slide4 {
    74% {
        opacity: 0;
        transform: scale(1.2);
    }

    75% {
        opacity: 1;
        transform: scale(1.2);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

#slide-1 {
    animation: slide1 var(--slide-time) linear infinite forwards;
}

#slide-2 {
    animation: slide2 var(--slide-time) linear infinite forwards;
}

#slide-3 {
    animation: slide3 var(--slide-time) linear infinite forwards;
}

#slide-4 {
    animation: slide4 var(--slide-time) linear infinite forwards;
}